
.accordion-button, .accordion-button:focus {
    box-shadow: $sombra_btn !important;
}

.accordion-button::after {
    background-image: url('../../img/accordeon_arrow_down.svg') !important;
}

.form-switch .form-check-input {
    background-color: $color_light_secundario;
    border-color: transparent;
    box-shadow: $sombra_btn;
    -webkit-box-shadow: $sombra_btn; 
    cursor: pointer;
}

.form-check-input:active {
    filter: none;
}

.form-check-input:focus {
    border-color: transparent;
    outline: none;
}

.form-switch > .form-check-input{
    background-image: url('../../img/circulo-light-switch.svg') !important;
}

.form-switch > .form-check-input:checked[type=checkbox] {
    background-image: url('../../img/circulo-dark-switch.svg') !important;
}

.numeroMes {
    font-size: $font_20;
}

.sombra {
    -webkit-box-shadow: $sombra; 
    box-shadow: $sombra;
}

.sombra_btn {
    -webkit-box-shadow: $sombra_btn !important;
    box-shadow: $sombra_btn !important;
}