@media (min-width: 200px) {
    .scroll_row {
        height: 330px;
    }
}


@media (max-width: 224px) {
    /* Main */
    .iconMainList {
        display: none;
    }
}

@media (max-width: 280px) {
    /* Header */
    .iconTitle {
        display: none;
    }
}

@media (max-width: 480px) {
    /* Main */
    .data_item_desktop {
        display: none;
    }
}

@media (min-width: 481px) {
    /* Main */
    .data_item_mobile {
        display: none;
    }

    .scroll_row {
        height: 290px;
    }
}