$family: 'Righteous', cursive;

$blanco: #ffffff;
$negro: #000000;

$color_light_principal: #A600FF;
$color_light_secundario: #E8BEFF;

$color_dark_principal: #7300B4;
$color_dark_secundario: #4D0079;

$font_18: 18px;
$font_20: 20px;

$sombra: 0px 4px 4px 4px rgba(0,0,0,0.25);
$sombra_btn: 1px 6px 15px -2px rgba(0,0,0,0.25);