.accordion-button, .accordion-button:focus {
  box-shadow: 1px 6px 15px -2px rgba(0, 0, 0, 0.25) !important;
}

.accordion-button::after {
  background-image: url("../../img/accordeon_arrow_down.svg") !important;
}

.form-switch .form-check-input {
  background-color: #E8BEFF;
  border-color: transparent;
  box-shadow: 1px 6px 15px -2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 6px 15px -2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.form-check-input:active {
  filter: none;
}

.form-check-input:focus {
  border-color: transparent;
  outline: none;
}

.form-switch > .form-check-input {
  background-image: url("../../img/circulo-light-switch.svg") !important;
}

.form-switch > .form-check-input:checked[type=checkbox] {
  background-image: url("../../img/circulo-dark-switch.svg") !important;
}

.numeroMes {
  font-size: 20px;
}

.sombra {
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.sombra_btn {
  box-shadow: 1px 6px 15px -2px rgba(0, 0, 0, 0.25) !important;
}

h1 {
  text-shadow: -1px 4px 7px rgba(0, 0, 0, 0.6);
}

.opcTheme {
  color: #E8BEFF;
  transition: all 0.5s ease-out;
}

.Light {
  background-color: #E8BEFF;
  transition: all 0.5s ease-out;
}
.Light #root header {
  background-color: #A600FF;
  transition: all 0.5s ease-out;
}
.Light #root header .container .row .col-12 .noOpc {
  color: #7300B4;
}
.Light #root header .container .row .col-12 h1 {
  color: #ffffff;
}

.Dark {
  background-color: #4D0079;
  transition: all 0.5s ease-out;
}
.Dark #root header {
  background-color: #7300B4;
  transition: all 0.5s ease-out;
}
.Dark #root header .container .row .col-12 .noOpc {
  color: #4D0079;
}
.Dark #root header .container .row .col-12 h1 {
  color: #E8BEFF;
}

body {
  font-family: "Righteous", cursive;
}

hr {
  opacity: 1;
  border-top: 3px solid;
}

.scroll_row {
  overflow: hidden;
  overflow-y: scroll;
}

.scroll_row::-webkit-scrollbar {
  width: 5px;
}

.scroll_row::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.txt_noExpenses {
  animation: txt_noExpenses_animation 3s ease-out infinite;
}

@keyframes txt_accordion_animation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes txt_noExpenses_animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.Light #root main .container-md h2 {
  color: #A600FF;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md hr {
  border-color: #A600FF;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div {
  background-color: #A600FF;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div h2 button {
  background-color: #A600FF;
  color: #E8BEFF;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div h2 button:not(.collapsed) {
  background-color: #7300B4;
}
.Light #root main .container-md #accordionExample div h2 button:not(.collapsed) span {
  animation: txt_accordion_animation 3s ease-out infinite;
}
.Light #root main .container-md #accordionExample div div div {
  /* List */
}
.Light #root main .container-md #accordionExample div div div div button {
  color: #E8BEFF;
  background-color: #7300B4;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div div div .container-md .scroll_row::-webkit-scrollbar-thumb {
  background-color: #7300B4;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div div div .container-md .row div div {
  background-color: #7300B4;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div div div .container-md .row div div h6 {
  color: #ffffff;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div div div .container-md .row div div h6 .iconMainList {
  color: #E8BEFF;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div div div .container-md .row div div p .data_title {
  color: #E8BEFF;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div div div .container-md .row div div p span {
  color: #ffffff;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div div div .container-md .row div div div button {
  color: #ffffff;
  background-color: #A600FF;
  transition: all 0.5s ease-out;
}
.Light #root main .container-md #accordionExample div div div .container-md .row div .txt_noExpenses {
  color: #ffffff;
}

.Dark #root main .container-md h2 {
  color: #E8BEFF;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md hr {
  color: #7300B4;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div {
  background-color: #7300B4;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div h2 button {
  background-color: #7300B4;
  color: #E8BEFF;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div h2 button:not(.collapsed) {
  background-color: #A600FF;
}
.Dark #root main .container-md #accordionExample div h2 button:not(.collapsed) span {
  animation: txt_accordion_animation 3s ease-out infinite;
}
.Dark #root main .container-md #accordionExample div div div {
  /* List */
}
.Dark #root main .container-md #accordionExample div div div div button {
  color: #E8BEFF;
  background-color: #4D0079;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div div div .container-md .scroll_row::-webkit-scrollbar-thumb {
  background-color: #4D0079;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div div div .container-md .row div div {
  background-color: #4D0079;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div div div .container-md .row div div h6 {
  color: #E8BEFF;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div div div .container-md .row div div h6 .iconMainList {
  color: #A600FF;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div div div .container-md .row div div p .data_title {
  color: #A600FF;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div div div .container-md .row div div p span {
  color: #E8BEFF;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div div div .container-md .row div div div button {
  color: #E8BEFF;
  background-color: #7300B4;
  transition: all 0.5s ease-out;
}
.Dark #root main .container-md #accordionExample div div div .container-md .row div .txt_noExpenses {
  color: #E8BEFF;
}

@media (min-width: 200px) {
  .scroll_row {
    height: 330px;
  }
}
@media (max-width: 224px) {
  /* Main */
  .iconMainList {
    display: none;
  }
}
@media (max-width: 280px) {
  /* Header */
  .iconTitle {
    display: none;
  }
}
@media (max-width: 480px) {
  /* Main */
  .data_item_desktop {
    display: none;
  }
}
@media (min-width: 481px) {
  /* Main */
  .data_item_mobile {
    display: none;
  }
  .scroll_row {
    height: 290px;
  }
}/*# sourceMappingURL=style.css.map */